<div id="cta-buttons">
  <a id="addNewMapBtn" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseAddNewMap"  role="button" aria-expanded="false" aria-controls="collapseAddNewMap">
   New map
  </a>
</div>