<div id="cta">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseAddNewMap"  role="button" aria-expanded="false" aria-controls="collapseAddNewMap">
   New map
  </a>

   <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseAddNewMap"  role="button" aria-expanded="false" aria-controls="collapseAddNewMap">
    New pin
   </a>
</div>