<div id="cta-buttons">
  <a id="addNewMapBtn" class="addNewMapBtn btn btn-lg btn-primary" data-bs-toggle="collapse" href="/maps/new"  role="button" aria-expanded="false" aria-controls="collapseAddNewMap">
    <i class="fa-solid fa-plus"></i> New map
  </a>
</div>