<footer class="section-footer bg-dark text-light showNav">
  <p class="text-center p-1"><small>&copy; Lighthouse Labs Student Project. Contributors: @laurenashley, @kristygislason, @jayrmesa</small></p>
</footer>