<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- Container wrapper -->
    <div class="container-fluid mx-3">
      <div class="header-container">
        <!-- Navbar Logo -->
        <a class="navbar-brand" href=""><!-- we can put the image logo here and click on home page? -->
          <img
            src="https://i.imgur.com/CRLj9uk.png"
            height="16"
            alt="Mapr"
            style="margin-top: -1px;"
          />
        </a>
        <!-- Maps links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Maps</a>
          </li>
        </ul>
      </div>

      <!-- Right links -->
      <div class="header-container">
        <button type="button" class="btn btn-link px-3 me-2">
          Login
        </button>
        <button type="button" class="btn btn-primary me-3">
          Sign up!
        </button>
        <i class="fa-sharp fa-solid fa-bars"></i>
      </div>
    </div>
  </nav>
</header>
