

<!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <button type="button" class="ml-auto btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="row">
          <header class="col-12 text-center py-3">              
            <h3><%= user.username %></h3>
            <p><%= user.email %></p>
            <a href="/logout" type="button" class="btn btn-outline-secondary">
              Logout
            </a>
          </header>
        </div>
        
      </div>        
      <div class="modal-body p-5">
        
        <section id="favourties" class="py-4 mb-4">
          <h4 class="h5 mb-3">Favourite Maps</h4>
          <ul class="list-group">
            <li class="list-group-item"><a href="">An item</a></li>
            <li class="list-group-item"><a href="">A second item</a></li>
            <li class="list-group-item"><a href="">A third item</a></li>
            <li class="list-group-item"><a href="">A fourth item</a></li>
            <li class="list-group-item"><a href="">And a fifth one</a></li>
          </ul>
        </section>
        <hr>
        <section id="contrib" class="mb-4 py-4">
          <h4 class="h5 mb-3">Maps I've contributed to</h4>
          <ul class="list-group">
            <li class="list-group-item"><a href="">An item</a></li>
            <li class="list-group-item"><a href="">A second item</a></li>
            <li class="list-group-item"><a href="">A third item</a></li>
            <li class="list-group-item"><a href="">A fourth item</a></li>
            <li class="list-group-item"><a href="">And a fifth one</a></li>
          </ul>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>