<body>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times; </a>
    <h2>Maps</h2>
    <a href="#">Restaurants near me</a>
    <a href="#">Favourite vacation spots in Canada</a>
    <a href="#">Favorite vacation spots in the world</a>
  </div>

  </body>
