<body>
  <div class="sidenav showNav">
    <div class="d-flex justify-content-between align-items-center title">
      <h2>Maps</h2>
      <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times; </a>
    </div>
    <article id="mapsList">
      <%= maps %>
      <ul class="nav justify-content-around">
        <li class="nav-item">
          <a href="#">All Maps</a>
        </li>
        <li class="nav-item">
          <a href="#">Favorites</a>
        </li>
        <li class="nav-item">
          <a href="#">Contributed</a>
        </li>
      </ul>
      <div class="list">
      </div>
    </article>
    <form id="newMapForm" action="/maps/new" method="post">
      <title>Create new map</title>
      <p>
        <label for="mapName">Map name</label>
        <input id="mapName" name="mapName" type="text" value="">
      </p>
      <p>
        <label for="mapLong">Longitude</label>
        <input id="mapLong" name="mapLong" type="text" value="">
      </p>
      <p>
        <label for="mapLat">Latitude</label>
        <input id="mapLat" name="mapLat" type="text" value="">
      </p>
      <p>
        <label for="mapZoom">Zoom</label>
        <input id="mapZoom" name="mapZoom" type="text" value="">
      </p>
      <input type="submit" name="submit" value="Save">
    </form>
  </div>
</body>
