<body>
  <div class="sidenav showNav">
    <div class="d-flex justify-content-between align-items-center title">
      <h2>Maps</h2>
      <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times; </a>
    </div>
    <article id="mapsList">
      <%= maps %>
      <ul class="nav justify-content-around">
        <li class="nav-item">
          <a href="#">All Maps</a>
        </li>
        <li class="nav-item">
          <a href="#">Favorites</a>
        </li>
        <li class="nav-item">
          <a href="#">Contributed</a>
        </li>
      </ul>
      <div class="list">
      </div>
    </article>
    <form id="newMapForm" action="/maps/new" method="post">
      <title>Create new map</title>
      <p>
        <label for="mapName">Map name</label>
        <input id="mapName" name="mapName" type="text" value="">
      </p>
      <p>
        <label for="map-description">Description</label>
        <textarea id="map-description"></textarea>
      </p>
      <p>
        <label for="map-long">Longitude</label>
        <input id="map-long" type="text" value="">
      </p>
      <p>
        <label for="map-lat">Latitude</label>
        <input id="map-lat" type="text" value="">
      </p>
      <p>
        <label for="map-zoom">Zoom</label>
        <input id="map-zoom" type="text" value="">
      </p>
      <input type="submit" name="submit" value="Save">
    </form>
  </div>
</body>
