<div class="sidenav showNav">
  <div class="d-flex justify-content-between align-items-center title">
    <h2>Maps</h2>
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times; </a>
  </div>
  <article id="sidenavContent" class="p-3">
    <%- include('maps/list') %>
  </article>
</div>
