<section id="favourites" class="pb-3 mb-3">
  <h4 class="h5 mb-2">Favourite Maps</h4>
  <ul id="user-maps" class="list-group">
    <% userFavs.forEach((map) => { %>
      <li class="list-group-item"><a href="/maps/<%= map.id %>"><%= map.title %></a></li>
    <% }); %>
  </ul>
</section>
