.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #3367d6;
  overflow-x: hidden;
  transition: 0.5s;

  .title {
    margin: 0 32px;

    a {
      text-decoration: none;
      font-size: 40px;
      color: white;
      display: block;
      transition: 0.3s;

      &:hover {
        color: #f1f1f1;
      }
    }

    h2 {
      font-size: 25px;
      color: #faf5f5;
      display: block;

    }

  }

  .nav-link{
    color:black;
    margin-bottom: 10%;
    margin-top: 5%;
    font-weight: 400;
    cursor: pointer;


    display: flex;
  }

.p-3{
  padding-bottom: 20px;
}

  article {
    background-color: white;


    ul {

      box-shadow: 0 2px 4px rgb(0 0 0 / 20%);



      :hover {
        background-color: #E4E3DD
      }


      li > a {
        font-size: 1.2em;
        color: #14110f;
      }
    }

  }


}

#categoryList {
  li {
    margin-left: 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

  }


}

.fa-map:before {
  color: #3367d6;

}

.pe-2 {
padding-left: 0.5rem;
}



@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
