<a id="backBtnMap" class="btn btn-outline-secondary" href="/maps/">Back to map</a>

<% if (userid) { %>
<form id="newPinForm" action="/pins/new" method="post">
  <h3 class="h5">New Pin</h3>
  <input class="sr-only" id="mapid" type="number" value="1">
  <input class="sr-only" id="userid" type="number" value="<%= userid %>">
  <p>
    <label class="form-label" for="pinNameEdit">Pin name:</label>
    <input id="pinNameEdit" class="form-control" name="pinName" type="text" value="">
  </p>
  <p>
    <label class="form-label" for="pinImageUrl">Image link:</label>
    <input id="pinNameEdit" class="form-control" name="pinName" type="text" value="">
  </p>
  <p>
    <label class="form-label" for="pinLatEdit">Latitude</label>
    <input class="form-control" id="pinLatEdit" name="pinLat" type="text" value="">
  </p>
  <p>
    <label class="form-label" for="pinLongEdit">Longitude</label>
    <input class="form-control" id="pinLongEdit" name="pinLong" type="text" value="">
  </p>
  <input class="btn btn-primary" type="submit" name="submit" value="Save">  
</form>
<% } else { %>
You do not have access to add pins.
<% } %>