<% /*
<ul id="pinsList">
  <% pins.forEach((pin) => { %>
    <li id="<%= pin.id %>"><%= pin.title %></li>
  <% }); %>
</ul>
*/ %>
<ul>
  <li>
    <img src="" />
    <a href="">title</a>
    <p>Description</p>
  </li>
</ul>
