<form id="newMapForm" action="/maps/new" method="POST">
  <title>Create new map</title>
  <p class="form-group">
    <label class="form-label" for="mapName">Map name</label>
    <input class="form-control" id="mapName" name="mapName" type="text" value="">
  </p>
  <p>
    <label class="form-label" for="mapLat">Latitude</label>
    <input class="form-control" id="mapLat" name="mapLat" type="text" value="">
  </p>
  <p>
    <label class="form-label" for="mapLong">Longitude</label>
    <input class="form-control" id="mapLong" name="mapLong" type="text" value="">
  </p>
  <p>
    <label class="form-label" for="mapZoom">Zoom</label>
    <input class="form-control" id="mapZoom" name="mapZoom" type="text" value="">
  </p>
  <input class="btn btn-primary" type="submit" name="submit" value="Save">
</form>
