<div class="ajaxWrap">

  <a id="backBtnAllMap" class="btn btn-outline-secondary mb-3" href="/maps">Back</a>

<% if (userid) { %>
  <form id="newMapForm" action="/maps/new" method="POST">
  <title>Create new map</title>
  <p class="form-group">
    <label class="form-label" for="mapName">Map name</label>
    <input class="form-control" id="mapName" name="mapName" type="text" value="" required>
  </p>
  <div class="alert alert-light">
    <p>Adjust the map zoom and click on the map to set your map coordinates:</p>
    <p>
      <label class="form-label" for="mapLat">Latitude</label>
      <input class="form-control" id="mapLat" name="mapLat" type="text" value="" required>
    </p>
    <p>
      <label class="form-label" for="mapLong">Longitude</label>
      <input class="form-control" id="mapLong" name="mapLong" type="text" value="" required>
    </p>
    <p>
      <label class="form-label" for="mapZoom">Zoom</label>
      <input class="form-control" id="mapZoom" name="mapZoom" type="text" value="" required>
    </p>
  </div>
  <input class="btn btn-primary" type="submit" name="submit" value="Save">
</form>
<% } %>
</div>
