
    <form id="newMapForm" action="/maps/new" method="post">
      <title>Create new map</title>
      <p>
        <label for="mapName">Map name</label>
        <input id="mapName" name="mapName" type="text" value="">
      </p>
      <p>
        <label for="mapLong">Longitude</label>
        <input id="mapLong" name="mapLong" type="text" value="">
      </p>
      <p>
        <label for="mapLat">Latitude</label>
        <input id="mapLat" name="mapLat" type="text" value="">
      </p>
      <p>
        <label for="mapZoom">Zoom</label>
        <input id="mapZoom" name="mapZoom" type="text" value="">
      </p>
      <input type="submit" name="submit" value="Save">
    </form>
