<div id="map">
  <%- include('../pins/list') %>
  <%- include('form-new') %>
  <%- include('form-update') %>

  <a href="/maps/delete" id="deleteMap">Delete Map</a>
  <a href="/maps/update" id="updateMap">Edit Map Details</a>
</div>
