@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'partials/variables';
@import 'partials/layout';
@import 'partials/sidebar';
@import 'partials/header';

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
